.lnk-lst {
  list-style: none;
  padding-left: 0;

  li:last-child {
    margin-bottom: 0;
  }

  @include mq($until: desktop) {
    li {
      margin-bottom: 0;
    }

    li a {
      padding: 11px 0;
      display: block;
    }
  }
}
