.rr {
  padding: 64px 0;

  .rr-m {
    margin-bottom: 4px;
  }

  &__copy {
    font-size: px2rem(21px);
  }

  &__header {
    margin: 0 -0.625em .75em;
    font-size: px2rem(24px);
    @include mq($from: large-mobile) {
      font-size: px2rem(28px);
    }
  }

  &__rvw {
    width: 100%;
    padding: 32px;
    border-radius: 10px;
    background: $ctm-white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 -1px 2px rgba(0, 0, 0, 0.08);

    @include mq($from: tablet) {
      padding: 26px 24px;
      width: 224px;
    }

    @include mq($from: desktop) {
      padding: 26px 16px;
      width: 219px;
    }
  }

  &__rvw-txt {
    font-size: px2rem(21px);
    font-weight: bold;

    @include mq($from: large-mobile) {
      font-size: px2rem(21px);
    }
  }

  &__rvw-cite {
    display: block;
    font-style: normal;
    font-size: px2rem(14px);
  }

  &__quote {
    margin-bottom: 2px;

    &-l {
      display: inline-block;
      height: 30px;
      width: 15px;
    }
  }

  &__star {
    height: 16px;
    width: 17px;
  }

  &__grd {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__cta {
    .btn {
      margin-top: 32px;
    }

    .btn--dsc-sec {
      border-radius: 1.5rem;
    }
  }

  &__rvw:nth-child(2),
  &__rvw:nth-child(3),
  &__rvw:nth-child(4) {
    display: none;

    @include mq($from: tablet) {
      display: block;
    }
  }

  @include mq($from: tablet, $until: desktop) {
    &__rvw:nth-child(4) {
      display: none;
    }
  }
}