@import "../helpers/mixins";
@import "../../../../node_modules/sass-mq/mq";
@import "../base/variables";

.rm-calc {
  &__hero {
    height: auto;

    &--bg {
      background: linear-gradient($ctm-blue-dark, $ctm-blue);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 480px;

      img {
        object-fit: cover;
      }
    }
  }

  &__intro {
    position: relative;

    &--desc {
      @include mq($from: tablet) {
        width: 63%;
      }
    }
  }

  &__card {
    padding: 20px 20px 0;
    position: relative;
    border-bottom: 1px solid rgba($ctm-black, 0.1);

    &-cont {
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgba($ctm-black, 0.5), 0 -1px 2px 0 rgba($ctm-black, 0.01);
    }

    @include mq($from: tablet) {
      padding-bottom: 20px;
    }

    &--desc {
      @include mq($from: tablet) {
        width: 60%;
      }
    }

    &--top {
      border-radius: 4px 4px 0 0;
    }

    &--bottom {
      border-radius: 0 0 4px 4px;
      border-bottom: 0;
    }

    &--fieldset-cont {
      @include mq($from: tablet) {
        padding-right: 0;
      }
    }
  }

  &__form {
    &--wrapper {
      @include mq($from: tablet) {
        display: flex;
        align-items: flex-start;
      }
    }
  }

  &__description {
    max-width: 710px;
    margin-bottom: 10px;
  }

  &__fieldset {
    border: 0;
    margin: 0 -20px;
    padding: 0 20px 20px;
    position: relative;
    flex: 1;

    @include mq($from: tablet) {
      border: 0;
      margin: 0 16px 0 0;
      padding: 0;
    }

    h3 {
      margin-bottom: px2rem(6px);

      @include mq($from: tablet, $until: desktop) {
        min-height: 52px;
      }
    }

    &-top {
      margin: 0 -20px 20px;
      border-bottom: 1px solid rgba($ctm-black, 0.1);

      @include mq($from: tablet) {
        border: 0;
        margin: 0 16px 0 0;
        padding: 0;
      }
    }

    &-50 {
      @include mq($from: tablet) {
        flex: 0 0 auto;
        width: 50%;
        padding: 0 16px 0 0;
      }
    }
  }

  &__btn {
    margin-top: 45px;
    width: 100%;
  }

  &__input {
    display: flex;
    appearance: textfield;
    border: 1px solid $ctm-blue-light;
    border-bottom: 4px solid $ctm-blue-lighter;
    border-radius: 3px;
    background: $ctm-blue-lighter-30;
    max-width: 700px;
    width: 100%;
    padding: px2rem(15px) 0 px2rem(15px) px2rem(12px);
    transition: box-shadow 0.32s, color 0.35ms, border-color 0.32s, background-color 0.32s;
    font-weight: bold;
    font-size: px2rem(28px);

    &:focus:not(:hover):not(:active) {
      outline-width: 5px;
    }

    &:focus {
      outline-width: 0;
    }

    &::placeholder {
      color: $ctm-blue-520;
      font-weight: lighter;
    }

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  &__input-pound {
    position: relative;
    font-size: px2rem(28px);

    &:before {
      content: "£";
      position: absolute;
      left: 12px;
      top: 16px;
    }

    .rm-calc__input {
      padding-left: px2rem(28px);
    }
  }

  &__input-years {
    position: relative;
    font-size: px2rem(28px);

    &.show:after {
      content: "years";
      position: absolute;
      left: 60px;
      top: 16px;
    }

    .rm-calc__input {
      padding-right: px2rem(28px);
    }
  }

  &__error {
    input {
      background: $ctm-red-720;
      border-color: $ctm-red-380;
      color: $ctm-red-280;

      &::placeholder {
        color: $ctm-red-280;
      }
    }

    &::before {
      color: $ctm-red-280;
    }
  }

  &__error-msg {
    color: $ctm-red-280;
  }

  &__current-type-msg {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

.rm-savings {
  margin: 30px 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba($ctm-black, 0.5), 0 -1px 2px 0 rgba($ctm-black, 0.01);

  &__amount {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 15px;

    .uline::after {
      left: 50%;
      transform: translateX(-50%);
    }

    @include mq($until: tablet) {
      h3 {
        font-size: px2rem(20px);
      }

      .rm-savings__desc-title {
        margin: 0;
      }
    }
  }

  &__payment-num {
    position: relative;

    span {
      font-weight: lighter;
    }
  }

  &__img {
    height: 75px;
    width: 75px;
  }

  &__cost {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    padding: 20px;
  }

  &__calc {
    padding: 20px 0;
  }

  &__desc {
    padding: 20px 0;
  }

  @include mq($from: tablet) {
    display: flex;

    h3 {
      line-height: 1.3;
    }

    &__amount {
      width: 36%;
      padding: 20px 10px;
    }

    &__cost {
      width: 64%;
      min-height: 540px;
      text-align: left;
    }

    &__payment-num {
      display: inline-block;
      font-size: px2rem(54px);

      span {
        font-size: px2rem(15px);
        white-space: nowrap;
        position: absolute;
        top: 34px;
        margin-left: 5px;
      }
    }

    &__cntnr {
      display: flex;
    }

    &__example {
      text-align: left;
      width: 75%;
      margin-left: 30px;

      p {
        margin-bottom: 0;
      }
    }

    &__calc {
      padding: 20px 0 40px;
    }

    &__desc {
      padding: 40px 0 20px;
    }
  }

  @include mq($from: desktop) {
    &__amount {
      padding: 20px 0;
    }

    &__calc {
      padding: 20px 40px 40px;
    }

    &__desc {
      padding: 40px 40px 20px;
    }

    &__cost {
      padding: 20px 40px;
    }
  }
}

.rm-advice {
  margin: 30px 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba($ctm-black, 0.5), 0 -1px 2px 0 rgba($ctm-black, 0.01);

  & .btn {
    width: 100%;
  }

  @include mq($from: tablet) {
    & {
      display: flex;
      text-align: left;
    }

    & .btn {
      width: 75%;
      max-height: 48px;
      align-self: center;
    }

    &__content {
      margin-right: 24px;
    }
  }

  @include mq($from: desktop) {
    &__content {
      margin-right: 40px;
    }
  }
}

.cntnr--gradient {
  min-height: 480px;
  padding-top: 20px;
  padding-bottom: 36px;
  position: relative;

  @include mq($from: tablet) {

    padding-top: 60px;
  }
  
}
