$black: #000;
$white: #fff;
$light-grey: #ededed;
$grey: #888;
$dark-grey: #16110f;

$blue: #072760;
$blue-light: #0190c8;
$blue-medium: #012a68;
$blue-dark: #001745;
$chocolate: #d2691e;

$primary: #35a930;
$primary-hover: #33a12e;

$accent-green: #8fa38b;

$green: #4b7d47;
$dark-green: #50744d;
$dark-green-1: #374d35;
$dark-green-2: #2f412e;

$dark-blue: #0c275e;

$red: #c63737;
$dark-red: #ac2626;
$light-red: #b27273;

$default-text-color: #2d2d2d;
$secondary-text-color: #3e3e3e;
$default-link-color: $white;
