&__rolling-pin {
  @include absolute(null, 10000);

  background: transparent url('#{$assets-url}rolling-pin.png') 0 0 / cover
    repeat;
  pointer-events: none;

  :not(.is-ie) & {
    transform: translate(-5px, -5px) rotate(-4deg);
    transform-origin: center bottom;
  }

  @include media-breakpoint-down(md) {
    height: 343px;
    left: -160px;
    top: 35px;
    width: 200px;
  }

  @include media-breakpoint-up(lg) {
    bottom: 0;
    height: 569px;
    left: -332px;
    margin: auto;
    top: 100px;
    width: 332px;

    @media (min-height: 700px) {
      height: 669px;
      left: -390px;
      width: 390px;
    }
  }
}
