.meerkat-fur {
  height: 42px;
  position: relative;
  width: 100%;

  svg {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1500px;
    height: 83px;
  }
}