/* ==========================================================================
   Global header
   ========================================================================== */

/**
 * --------------------
 * Class abbreviations
 * --------------------
 *
 * gbl-hdr = global header
   gbl-hdr__cntnr = global header container
   gbl-hdr__skp = global header skip to content link
   gbl-hdr__mmn-btn = global header mobile mega nav button
   gbl-hdr__grtng = global header greeting
 */

.gbl-hdr {
  background: $ctm-blue-dark;
  color: $ctm-white;
  position: relative;

  &__cntnr {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 7px 10px;
    min-height: 54px;
  }

  &__logo {
    display: block;
    height: 36px;
    width: 150px;
  }

  &__skp {
    margin-left: 10px;
  }

  &__mmn-btn {
    font-size: px2rem(10px);
    font-weight: 700;
    padding-top: px2rem(16px);
    position: relative;
    text-transform: uppercase;

    &:before {
      background: $ctm-white;
      box-shadow: 0 5px 0 0 $ctm-white, 0 10px 0 0 $ctm-white;
      content: "";
      height: 2px;
      left: 1px;
      position: absolute;
      top: 0;
      width: px2rem(24px);
    }

    &--v-amp {
      .d-amp & {
        display: none;
      }
    }

    &--d-amp {
      .v-amp & {
        display: none;
      }
    }
  }

  &__brnd {
    flex-grow: 1;
  }

  &__sgn {
    font-size: px2rem(17px);
    margin-right: 15px;

    &-cntnr {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    &-out {
      color: $ctm-green;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
}